/*Start Global variables*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --gray-light: #d4d4d4;
  --gray-medium: #707070;
  --gray-darker: #1f1f1f1f;
  --bloody-red: #731010;
  --lighter-red: #a80000;
  --gray-1: #ddd;
  --gray-2: #eee;
  --transition-duration: 0.3s;
  --transition-duration-l: 0.5s;
}

/*End Global variables   */
/* Start Global Rules */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #000;
  color: #fff;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.card-header {
  border-bottom: none;
}
textarea {
  resize: none;
}

/* Start Animation : */

/* End Animation : */
