/* Start Header  */
header {
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

nav > div:first-of-type {
  flex-basis: 15%;
  text-align: center;
  font-size: 39px;
  font-weight: 700;
  margin: 14px 0;
}

nav > div:first-of-type::first-letter {
  color: var(--lighter-red);
  font-size: 40px;
}

nav > ul {
  display: inline-flex;
  flex-basis: 41%;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

nav > ul > li > a {
  color: #e0e0e0;
}

nav > ul > li {
  position: relative;
  width: 14%;
  text-align: left;
}

nav > ul > li::after {
  content: "";
  position: absolute;
  width: 0%;
  background-color: var(--bloody-red);
  height: 3px;
  left: 0;
  bottom: -7px;
  transition: all linear var(--transition-duration);
}

nav > ul > li:hover::after {
  width: 100%;
}
.main-content {
  background-image: url(../images/background.png);
  background-position: center center;
  background-size: cover;
  height: calc(100vh - 88.28px);
  position: absolute;
  width: 100%;
}

.main-content > div {
  height: calc(100vh - (88.28px * 2));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.main-content > div h2 {
  color: #b8b8b7;
  font-size: 25px;
}
.main-content > div p {
  font-weight: 700;
  font-size: 41px;
  letter-spacing: 1px;
}
.main-content > div p span {
  color: var(--lighter-red);
}

.burger-icon,
.open-icon {
  display: none;
}

@media only screen and (max-width: 767px) {
  .open-icon {
    display: block;
  }
  .burger-icon {
    order: -1;
    margin: 20px 0 0;
  }
  nav > div:first-of-type {
    font-size: 21px;
  }
  nav > div:first-of-type::first-letter {
    font-size: larger;
  }
  nav {
    position: relative;
  }

  .main-content {
    background-image: url(../images/phone-background.png);
    height: calc(100vh - 47.8px);
  }
  .main-content > div h2 {
    font-size: 14px;
  }
  .main-content > div p {
    font-weight: 700;
    font-size: 25px;
  }
  .main-content > div {
    gap: 9px;
    justify-content: flex-end;
  }

  nav > ul {
    flex-direction: column;
    background-color: var(--lighter-red);
    z-index: 6;
    height: 103vh;
    position: fixed;
    width: 0%;
    right: 0;
    row-gap: 20px;
    top: 0px;
    justify-content: flex-start;
    transition: width linear var(--transition-duration);
  }

  nav > ul > li {
    width: fit-content;
    display: none;
  }
  .open-icon,
  .burger-icon {
    font-size: 21px;
  }
}

/* End Header  */
/* Start About me  */

section {
  margin-top: 100vh;
}
section > div:first-of-type {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  min-height: 560px;
}
section > div:first-of-type > div:first-of-type {
  flex-basis: 25%;
}
section > div:first-of-type > div:last-of-type {
  flex-basis: 65%;
}
section picture.pict1 {
  overflow: hidden;
  display: block;
  background-color: red;
  border-radius: 11px;
}
section picture.pict1 img {
  width: 351px;
}

section > div article {
  padding: 21px 1px 10px;
}
section > div article h1 {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 55px;
}
section > div article p {
  color: var(--gray-medium);
}
section .myNav {
  margin: 10px 0 20px;
  cursor: pointer;
}
section .myNav ul {
  gap: 40px;
  color: var(--gray-medium);
  text-transform: capitalize;
  font-weight: 600;
  display: inline-flex;
  flex-basis: 41%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
section .myNav ul {
  position: relative;
}
div.art {
  padding: 19px 0 0 17px;
  display: none;
}
div.art p {
  text-transform: capitalize;
  font-size: 15px;
  color: var(--gray-medium);
}
div.art h3 {
  text-transform: capitalize;
  font-size: 17px;
  margin-bottom: 4px;
  color: var(--bloody-red);
  font-weight: 700;
}

div.art.active {
  display: block;
}
.myNav li {
  position: relative;
}

.myNav li::after {
  content: "";
  position: absolute;
  width: 0%;
  background-color: var(--bloody-red);
  height: 3px;
  left: 0;
  bottom: -7px;
  transition: all linear var(--transition-duration);
}

.myNav li.active::after {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  section > div:first-of-type {
    flex-direction: column;
    row-gap: 18px;
  }
  section > div article h1 {
    text-align: center;
    font-size: 39px;
  }
  section > div article p {
    font-size: 14px;
  }
}

/* End  About me  */
/* Start Our Serices  */

#services {
  margin: 80px 0;
}
#services > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

#services > div > div {
  text-align: center;
  color: #c5c5c5 !important;
  transition: transform linear var(--transition-duration-l);
}

#services > div > div i {
  font-size: 54px;
}
#services > div > div h4 {
  font-size: 28px;
  font-weight: 700;
  text-transform: capitalize;
}
#services > div > div p {
  text-align: left;
  padding: 8px 0 14px 9px;
  color: var(--gray-medium);
}
#services > div > div p + span {
  font-size: 15px;
  color: var(--gray-medium);
  text-transform: lowercase;
}

#services > div > div.card:hover {
  transform: translateY(-20px);
}
#services > div > div.card:hover {
  color: white !important;
}

#services > div > div.card:hover p,
div > div.card:hover p + span {
  color: #cdcdcd !important;
}

#services > div:first-of-type p {
  font-size: 56px;
  font-weight: 600;
}
#services > div.de {
  display: block;
}

@media only screen and (max-width: 767px) {
  #services > div > div.card:hover {
    transform: none;
  }
}

/* End Our Serices  */
/* start my Work  */

#myWork {
  margin: 80px 0;
  position: relative;
}

#myWork > div:first-of-type {
  margin-bottom: 25px;
}
#myWork > div:first-of-type p {
  font-size: 56px;
  font-weight: 600;
}
#myWork > div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

#myWork > div:nth-of-type(2) picture {
  border-radius: 18px;
  overflow: hidden;
  filter: blur(1px);
  transition: var(--transition-duration-l);
  position: relative;
}

#myWork > div:nth-of-type(2) picture::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: linear-gradient(0, #000000, #731010ed, transparent);
  transition: all ease var(--transition-duration);
}

#myWork > div:nth-of-type(2) picture:hover {
  transform: scale(1.07);
  filter: none;
}

#myWork > div:nth-of-type(2) picture:hover::after {
  height: 100%;
}
#myWork > div:nth-of-type(2) picture img {
  width: 325px;
}
#myWork button {
  margin: 21px auto 0;
  display: block;
  padding: 9px 27px;
  font-size: 22px;
  font-weight: unset;
  border-radius: 14px;
  color: #fff;
  background: transparent;
  border: 1px solid var(--bloody-red);
  transition: all ease var(--transition-duration);
  position: relative;
  overflow: hidden;
}

#myWork button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  background-color: var(--bloody-red);
  height: 100%;
  transition: all ease var(--transition-duration-l);
  z-index: -1;
}

#myWork button:hover {
  border-color: white;
  transform: scale(1.07);
}

#myWork button:hover::after {
  width: 100%;
}

#myWork article {
  flex-basis: 325px;
  padding-left: 22px;
  padding-right: 8px;
}
.article-con {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  visibility: hidden;
}

#myWork article.active {
  transform: translateY(-195px);
  visibility: visible;
}
@media only screen and (max-width: 767px) {
  #myWork > div:nth-of-type(2) {
    row-gap: 23px;
    flex-direction: row;
  }
  #myWork button {
    margin-top: 50px;
  }
}
/* End my Work  */
